.themeControllerContainer{
  position: absolute;

  top: 2.5rem;
  right: 3.5rem;
}

.themeControllerContainer input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.themeControllerContainer label {
  cursor: pointer;
  text-indent: -99999px;
  
  width: 52px;
  height: 27px;
  
  background: var(--blue-dark);
  float: right;
  
  border-radius: 100px;

  position: relative;
}

.themeControllerContainer label:after {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;

  background: var(--white);
  
  border-radius: 90px;
  
  transition: 0.3s;
}

.themeControllerContainer input + label {
  background: var(--blue-dark);
}

.themeControllerContainer input:checked + label {
  background: var(--background);
}

.themeControllerContainer input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.themeControllerContainer label:active:after {
  width: 45px;
}